DJANGO_DEBUG=False
DJANGO_SECRET_KEY=change-this-to-a-long-random-secret
DJANGO_ALLOWED_HOSTS=frotas.seudominio.gov.br
DJANGO_CSRF_TRUSTED_ORIGINS=https://frotas.seudominio.gov.br

POSTGRES_DB=frota_db
POSTGRES_USER=frota_user
POSTGRES_PASSWORD=change-this-password
POSTGRES_HOST=db
POSTGRES_PORT=5432

SYSTEM_CREATOR_EMAIL=fabiocunhaosp@gmail.com
